* {
    margin: 0;
    padding: 0;
}

mark {
    color: red;
    font-size: 20px;
}
code{
    color: blue;
    font-size: 20px;
}
header {
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: blue;
    
}
footer {
    width: 100%;
    height: 50px;
    background-color: blue;
    color: rgb(240, 198, 11);
}
h1,
h2 {
    color: white;
    text-align: center;
}

h3{
    font-size: 40px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}
ol{
    padding-left: 40px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 3px solid rgb(247, 165, 65);
    box-shadow: 5px 10px #47b4f2;
}
p {
    text-align: center;
    font-size: 30px;
}
body{
    font-size: 20px;
}
a{
    color: rgb(111, 111, 189)
}



ul,
ol,
p,
body{
    color: black;
}

